In [2]:
import pandas as pd

In [3]:
res_1 = pd.read_csv('cv_results_1500_Jan_30.csv')

In [4]:
res_1.sort_values('avg_acc',ascending=False)[:1]

,mu,sigma,beta,tau,avg_acc,avg_calib,avg_log_loss,std_acc,std_calib,std_log_loss
0,1500,1000.0,1000.0,100.0,0.646,1.083,0.354,0.064,0.099,0.055

In [5]:
res_1['delta_calib'] = abs(res_1['avg_calib'] - 1)
res_1.sort_values('delta_calib')[:1]

,mu,sigma,beta,tau,avg_acc,avg_calib,avg_log_loss,std_acc,std_calib,std_log_loss,delta_calib
0,1500,1000.0,1000.0,100.0,0.646,1.083,0.354,0.064,0.099,0.055,0.083

In [6]:
res_1.sort_values('avg_log_loss')[:1]

,mu,sigma,beta,tau,avg_acc,avg_calib,avg_log_loss,std_acc,std_calib,std_log_loss,delta_calib
24,1500,100.0,20.0,10.0,0.621,1.273,0.231,0.079,0.153,0.037,0.273

In [7]:
res_2 = pd.read_csv('cv_res_players.csv')

In [8]:
res_2.sort_values('avg_acc',ascending=False)[:1]

      mu  sigma   beta  tau  avg_acc  avg_calib  avg_log_loss
19  1500  150.0  500.0  5.0     0.67      0.809         0.526

In [9]:
res_2['delta_calib'] = abs(res_2['avg_calib'] - 1)

In [10]:
res_2.sort_values('delta_calib')[:1]

     mu  sigma   beta  tau  avg_acc  avg_calib  avg_log_loss  delta_calib
6  1500  500.0  100.0  2.5    0.614      0.986         0.234        0.014

In [11]:
res_2.sort_values('avg_log_loss')[:1]

     mu  sigma   beta   tau  avg_acc  avg_calib  avg_log_loss  delta_calib
8  1500  500.0  100.0  10.0    0.614      0.986         0.232        0.014

In [12]:
res_3 = pd.read_csv('cv_res_best_player.csv')

In [40]:
res_3.sort_values('avg_acc',ascending=False)[:1]

      mu  sigma   beta  tau  avg_acc  avg_calib  avg_log_loss
19  1500  150.0  500.0  5.0     0.67      0.782         0.601

In [41]:
res_3['delta_calib'] = abs(res_3['avg_calib'] - 1)

In [43]:
res_3.sort_values('delta_calib')[:1]

     mu  sigma   beta  tau  avg_acc  avg_calib  avg_log_loss  delta_calib
6  1500  500.0  100.0  2.5    0.638        0.9         0.356          0.1

In [44]:
res_3.sort_values('avg_log_loss')[:1]

     mu  sigma   beta  tau  avg_acc  avg_calib  avg_log_loss  delta_calib
6  1500  500.0  100.0  2.5    0.638        0.9         0.356          0.1